* {
	margin:0px;
	background-repeat: no-repeat;
}

div.contenedor{
    width: 75%;
    margin: 0 auto;
}

header{
    background-color: blueviolet;
    height: 10em;
    width: 100%;
}

header h1{
    line-height: 5em;
}

header img{
    float: left;
    width: 10em;
}
div.menu{
    position: sticky;
    top: 0;
    padding: 0;
    background-color: brown;
    width: 100%;
    height: 2.5em;
}

.menu li{
    display: inline;
}

a{
 text-decoration: none;
}

.menu li a{
    padding: 10px;
    color: white;
}
div.columna ul, li, a{
    float: left;
}
.columna{
    float: left;
    background-color: greenyellow;
    width: 7em;
    height: 39.4em;
    position: sticky;
    top: 2.5em;
}

.columna ul{
    padding: 10px;
    list-style: none;
}

div#articulos div.articulo1{  
    background-color: aquamarine;
    line-height: 1.3;
    column-count: 4;
    margin-left: 7em;
    padding: 1em;
}

div#articulos div.articulo2{   
    background-color: lightsalmon;
    margin: 10px;
    line-height: 1.3;
    column-count: 4;
    margin-left: 7em;
    padding: 1em;
}

div#articulos div.articulo3{   
    background-color: lightgreen;
    margin: 10px;
    line-height: 1.3;
    column-count: 4;
    margin-left: 7em;
    padding: 1em;
}

footer{
    background-color: yellow;
    height: 5em;
    width: 100%;
}
