.derecha{
    position: fixed;
    background-color: blue;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 50px;
}

.abajo{
    position: fixed;
    background-color: red;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
}