.columna1{
    position: absolute;
    background-color: blue;
    left: 100px;
    width: 150px;
    height: 1000px;
    color: aliceblue;
}
.columna2{
    position: absolute;
    background-color: red;
    left: 300px;
    width: 150px;
    height: 1000px;
}