*{
    box-sizing: border-box;
}

.contenedor{
    width: 780px;
    margin: 0 auto;
}

div{
    margin: 5em;
}

.columna1{
    float: left;
    background-color: red;
    width: 200px;
    height: 100em;
}

.columna2{
    float: left;
    background-color: royalblue;
    width: 200px;
    height: 100em;
}

.columna3{
    float: left;
    background-color: goldenrod;
    width: 200px;
    height: 100em;
}

header{
    float: left;
    background-color: grey;
    height: 10em;
    width: 100%;
}

footer{
    float: left;
    background-color: violet;
    height: 10em;
    width: 100%;
}